<div>
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>surname</th>
      <th>power</th>
      <th>nickname</th>
      <th>wife</th>
      <th>fighting school</th>
      <th>techniques</th>
    </tr>
    <tr>
      <td>
        {{warriorToEdit?.getId()}}
      </td>
      <td>
        <input type="text" value="{{warriorToEdit?.getName()}}" [(ngModel)]="updateWarriorName">
      </td>
      <td>
        <input type="text" value="{{warriorToEdit?.getSurname()}}" [(ngModel)]="updateWarriorSurname">
      </td>
      <td>
        <input type="number" value="{{warriorToEdit?.getPower()}}" [(ngModel)]="updateWarriorPower">
      </td>
      <td>
        <app-nickname-item [nickname]="warriorToEdit?.getNickname()" (removeNickname)="removeNickname($event)">
        </app-nickname-item>
      </td>
      <td>
        <app-wife-item [wife]="warriorToEdit?.getWife()" (removeWife)="removeWife($event)">
        </app-wife-item>
      </td>
      <td>
        <div *ngIf="warriorToEdit?.getFightingSchool() != null">
          {{warriorToEdit?.getFightingSchool().getName()}}
          <button (click)="chooseAnotherFightingSchool()">
            Choose another
          </button>
        </div>
        <div *ngIf="warriorToEdit?.getFightingSchool() == null">
          <div *ngFor="let fs of fsToChoose">
            {{fs.getName()}}
            <button (click)="chooseFightingSchool(fs)">
              Choose
            </button>
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="areTeEditing == false">
          <div *ngFor="let ts of warriorToEdit?.getTechniques()">
            {{ts.getName()}}
          </div>
          <button (click)="editTechniques()">
            Edit
          </button>
        </div>
        <div *ngIf="areTeEditing == true">
          <div *ngFor="let ts of teToChoose; let inx = index">
            <span *ngIf="teToChooseFlag[inx]==true">
              <button (click)="switchTeToChooseFlag(inx)">
              Choose
            </button>
              {{ts.getName()}}
            </span>
            <span *ngIf="teToChooseFlag[inx]==false">
              <button (click)="switchTeToChooseFlag(inx)">
              _Dont_
            </button>
              {{ts.getName()}}
            </span>
          </div>
          <button (click)="confirmTechniques()">
            Confirm
          </button>
        </div>
      </td>
    </tr>
  </table>
  <button (click)="editWarrior()">
    Update
  </button>
</div>
