<div>
  <table>
    <tr>
      <th>name</th><th>surname</th><th>power</th><th>nickname</th><th>wife name</th>
      <th>wife surname</th><th>wife percentage to power</th>
    </tr>
    <tr>
      <td>
        <input  type="text" [(ngModel)]="newWarriorName">
      </td>
      <td>
        <input  type="text" [(ngModel)]="newWarriorSurname">
      </td>
      <td>
        <input  type="number" [(ngModel)]="newWarriorPower">
      </td>
      <td>
        <input  type="text" [(ngModel)]="newWarriorNicknameName">
      </td>
      <td>
        <input  type="text" [(ngModel)]="newWarriorWifeName">
      </td>
      <td>
        <input  type="text" [(ngModel)]="newWarriorWifeSurname">
      </td>
      <td>
        <input  type="number" [(ngModel)]="newWarriorWifePercentagetopower">
      </td>
    </tr>
  </table>
  <button (click)="createNewWarrior()">
    Create
  </button>
</div>
