<div>
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>date</th>
      <th>arena</th>
      <th>participants</th>
    </tr>
    <tr>
      <td>
        {{tournamentToEdit?.getId()}}
      </td>
      <td>
        <input type="text" value="{{tournamentToEdit?.getName()}}" [(ngModel)]="updateTournamentName">
      </td>
      <td>
        <input type="date" value="{{tournamentToEdit?.getDate()}}" [(ngModel)]="updateTournamentDate">
      </td>
      <td>
        <!--<app-arena-item [arena]="tournamentToEdit?.getArena()" (removeArena)="removeArena($event)">-->
        <!--</app-arena-item>-->
        <div *ngIf="tournamentToEdit?.getArena() != null">
          {{tournamentToEdit?.getArena().getName()}}
          <button (click)="chooseAnotherArena()">
            Choose another
          </button>
        </div>
        <div *ngIf="tournamentToEdit?.getArena() == null">
          <div *ngFor="let a of aToChoose">
            {{a.getName()}}
            <button (click)="chooseArena(a)">
              Choose
            </button>
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="areTeEditing == false">
          <div *ngFor="let ts of tournamentToEdit?.getParticipants()">
            {{ts.getName()}}
          </div>
          <button (click)="editParticipantsT()">
            Edit
          </button>
          <button (click)="editParticipantsPagedT()">
            Edit Paged
          </button>
        </div>
        <div *ngIf="areTeEditing == true">
          <div *ngIf="isEditingPaged == false">
            <div *ngFor="let ts of teToChoose; let inx = index">
            <span *ngIf="teToChooseFlag[inx]==true">
              <button (click)="switchTeToChooseFlagT(inx)">
              Choose
            </button>
              {{ts.getName()}}
            </span>
              <span *ngIf="teToChooseFlag[inx]==false">
              <button (click)="switchTeToChooseFlagT(inx)">
              _Dont_
            </button>
              {{ts.getName()}}
            </span>
            </div>
            <button (click)="confirmParticipantsT()">
              Confirm
            </button>
          </div>
          <div *ngIf="isEditingPaged == true">
            size
            <input type="text" [(ngModel)]="size">
            <div *ngFor="let ts of teToChoose; let inx2 = index">
              ts
              <span *ngIf="teToChooseFlag[inx2]==true">
              <button (click)="switchTeToChooseFlagT(inx2)">
              Choose
            </button>
              {{ts.getName()}}
            </span>
              <span *ngIf="teToChooseFlag[inx2]==false">
              <button (click)="switchTeToChooseFlagT(inx2)">
              _Dont_
            </button>
              {{ts.getName()}}
            </span>
            </div>
            page
            <input type="text" [(ngModel)]="page">
            z {{totalPages}}
            <br>
            <button (click)="editParticipantsPagedT()">
              Confirm and Go
            </button>
            <button (click)="stopEditPagedT()">
              Back
            </button>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <button (click)="editTournamentT()">
    Update
  </button>
</div>
