<section>
  <header>
    <nav>
      <div class="menu-item" (click)="isArenaVisible=switchValue(isArenaVisible)">Arena</div>
      <div class="menu-item" (click)="isNicknameVisible=switchValue(isNicknameVisible)">Nickname</div>
    </nav>
    <div class="dropdown" *ngIf="isArenaVisible">
      <a routerLink="/arena-list" routerLinkActive="active">List</a>
      <a routerLink="/arena-add" routerLinkActive="active">Add</a>
    </div>
    <div class="dropdown" *ngIf="isNicknameVisible">
      <a routerLink="/nickname-list" routerLinkActive="active">List</a>
      <a routerLink="/nickname-add" routerLinkActive="active">Add</a>
    </div>
  </header>
  <router-outlet></router-outlet>
</section>

