<section style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
  <header class="header">
    <nav>
      <div class="menu-item" (click)="isArenaVisible=switchValue(isArenaVisible)">Arena</div>
      <div class="menu-item" (click)="isNicknameVisible=switchValue(isNicknameVisible)">Nickname</div>
      <div class="menu-item" (click)="isWifeVisible=switchValue(isWifeVisible)">Wife</div>
      <div class="menu-item" (click)="isFightingSchoolVisible=switchValue(isFightingSchoolVisible)">FightingSchool</div>
      <div class="menu-item" (click)="isTechniqueVisible=switchValue(isTechniqueVisible)">Technique</div>
      <div class="menu-item" (click)="isWarriorVisible=switchValue(isWarriorVisible)">Warrior</div>
      <div class="menu-item" (click)="isTournamentVisible=switchValue(isTournamentVisible)">Tournament</div>
    </nav>
    <div class="dropdown" *ngIf="isArenaVisible">
      Arena:
      <a routerLink="/arena-list-paged" routerLinkActive="active">List paged</a>
      <a routerLink="/arena-search" routerLinkActive="active">Search</a>
      <a routerLink="/arena-list" routerLinkActive="active">List</a>
      <a routerLink="/arena-add" routerLinkActive="active">Add</a>
    </div>
    <div class="dropdown" *ngIf="isNicknameVisible">
      Nickname:
      <a routerLink="/nickname-list-paged" routerLinkActive="active">List paged</a>
      <a routerLink="/nickname-search" routerLinkActive="active">Search</a>
      <a routerLink="/nickname-list" routerLinkActive="active">List</a>
      <a routerLink="/nickname-add" routerLinkActive="active">Add</a>
    </div>
    <div class="dropdown" *ngIf="isWifeVisible">
      Wife:
      <a routerLink="/wife-list-paged" routerLinkActive="active">List paged</a>
      <a routerLink="/wife-search" routerLinkActive="active">Search</a>
      <a routerLink="/wife-list" routerLinkActive="active">List</a>
      <a routerLink="/wife-add" routerLinkActive="active">Add</a>
    </div>
    <div class="dropdown" *ngIf="isFightingSchoolVisible">
      FightingSchool:
      <a routerLink="/fighting-school-list-paged" routerLinkActive="active">List paged</a>
      <a routerLink="/fighting-school-search" routerLinkActive="active">Search</a>
      <a routerLink="/fighting-school-list" routerLinkActive="active">List</a>
      <a routerLink="/fighting-school-add" routerLinkActive="active">Add</a>
    </div>
    <div class="dropdown" *ngIf="isTechniqueVisible">
      Technique:
      <a routerLink="/technique-list-paged" routerLinkActive="active">List paged</a>
      <a routerLink="/technique-search" routerLinkActive="active">Search</a>
      <a routerLink="/technique-list" routerLinkActive="active">List</a>
      <a routerLink="/technique-add" routerLinkActive="active">Add</a>
    </div>
    <div class="dropdown" *ngIf="isWarriorVisible">
      Warrior:
      <a routerLink="/warrior-list-paged" routerLinkActive="active">List paged</a>
      <a routerLink="/warrior-search" routerLinkActive="active">Search</a>
      <a routerLink="/warrior-list" routerLinkActive="active">List</a>
      <a routerLink="/warrior-add" routerLinkActive="active">Add</a>
    </div>
    <div class="dropdown" *ngIf="isTournamentVisible">
      Tournament:
      <a routerLink="/tournament-list-paged" routerLinkActive="active">List paged</a>
      <a routerLink="/tournament-search" routerLinkActive="active">Search</a>
      <a routerLink="/tournament-list" routerLinkActive="active">List</a>
      <a routerLink="/tournament-add" routerLinkActive="active">Add</a>
    </div>
  </header>
  <router-outlet></router-outlet>
</section>

