<div>
  <table>
    <tr>
      <th>id</th><th>name</th><th>surname</th><th>percentage to power</th>
    </tr>
    <tr>
      <td>
        {{wifeToEdit?.getId()}}
      </td>
      <td>
        <input  type="text"  value="{{wifeToEdit?.getName()}}"[(ngModel)]="updateWifeName">
      </td>
      <td>
        <input  type="text"  value="{{wifeToEdit?.getSurname()}}"[(ngModel)]="updateWifeSurname">
      </td>
      <td>
        <input  type="number"  value="{{wifeToEdit?.getPercentagetopower()}}"[(ngModel)]="updateWifePercentagetopower">
      </td>
    </tr>
  </table>
  <button (click)="editWife()">
    Update
  </button>
</div>
