<div>
  <table>
    <tr>
      <td>
        {{ tournament.getName() }}
      </td>
      <td>
        <a [routerLink]="['/tournament-edit', tournament.getId()]" routerLinkActive="active">Edit</a>
      </td>
      <td>
        <button (click)="deleteTournament(tournament.getId())">
          Remove
        </button>
        <button *ngIf="!isWinnerShown" (click)="showWinner()">
          Show winner
        </button>
        <button *ngIf="isWinnerShown" (click)="hideWinner()">
          Hide winner
        </button>
      </td>
      <td>
        <app-warrior-item *ngIf="isWinnerShown" [warrior]="winner"
                          (removeTournament)="removeWarrior($event)">
        </app-warrior-item>
      </td>
      </tr>
  </table>
</div>
